:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --icon-color: #afb1b8;
  --icon-bg: rgba(255, 255, 255, 0.1);
  --secondary-bg-color: #f5f4fa;
  --blocks-bg-color: #2f303a;
  --btn-primary-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-list-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-secondary-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --margin-set: 30px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Page Header */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

.container--center {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.page-footer__logo {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__label {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  position: relative;

  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  display: inline-block;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

/* Contacts nav */
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}
.contacts-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav__link:hover,
.contacts-nav__link:focus {
  color: var(--accent-color);
}

.contacts-nav__icon {
  margin-right: 10px;

  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-nav__icon:hover,
.contacts-nav__icon:focus {
  fill: var(--accent-color);
}

/* Hero */
.page-hero {
  text-align: center;
}

.page-hero__overlay {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  max-width: 1600px;
  min-height: 600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-color: var(--blocks-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-hero__title {
  margin-bottom: var(--margin-set);

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-primary {
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-primary-shadow);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover,
.button-primary:focus {
  background-color: #188ce8;
}

/* Features */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title--hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin-set));
  margin-left: calc(-1 * var(--margin-set));
}

.features__item {
  flex-basis: calc(100% / 4 - var(--margin-set));
  margin-top: var(--margin-set);
  margin-left: var(--margin-set);
}

.features__thumb {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  height: 120px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

/*.subtitle*/
.section__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.features__text {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.71;
}

/* Examples */
.section--no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin-set));
  margin-left: calc(-1 * var(--margin-set));
}

.examples__item {
  position: relative;

  flex-basis: calc(100% / 3 - var(--margin-set));
  margin-top: var(--margin-set);
  margin-left: var(--margin-set);
}

.section__subtitle--light {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

/* Team */
.section--theme-dark {
  background-color: var(--secondary-bg-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin-set));
  margin-left: calc(-1 * var(--margin-set));
}
.team__item {
  flex-basis: calc(100% / 4 - var(--margin-set));
  margin-top: var(--margin-set);
  margin-left: var(--margin-set);

  background-color: var(--primary-white-color);
  box-shadow: var(--team-list-shadow);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team__name {
  padding-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__position {
  margin-bottom: 16px;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--accent-color);
}

.social-links__icon {
  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: var(--primary-white-color);
}

/* Client */
.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin-set));
  margin-left: calc(-1 * var(--margin-set));
}

.clients__item {
  flex-basis: calc(100% / 6 - var(--margin-set));
  margin-top: var(--margin-set);
  margin-left: var(--margin-set);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: var(--icon-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}

/* Footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--blocks-bg-color);
}

.container--main {
  align-items: baseline;
}

.info-thumb {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 12px;
}

.info-thumb__adress {
  margin-top: 20px;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.info-thumb__contacts {
  margin-top: 9px;

  color: var(--secondary-white-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.subscription-thumb {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  margin-left: 60px;
}

.page-footer__section__subtitle {
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.social-links--center {
  display: inline-flex;
  align-items: center;
}

.social-links__link--theme-dark {
  background-color: var(--icon-bg);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link--theme-dark:hover,
.social-links__link--theme-dark:focus {
  background-color: var(--accent-color);
}

.social-links__icon--theme-dark {
  fill: var(--primary-white-color);
}

.footer-form {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 93px;
}

.footer-form__field {
  display: inline-flex;
}

.footer-form__input {
  margin: 0;
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.footer-form__button-primary {
  min-width: 200px;
}

.footer-form__icon {
  fill: var(--primary-white-color);
  vertical-align: middle;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: inherit;
}

.backdrop--hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;

  padding: 40px;
  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.modal__icon {
  position: absolute;
  top: 6px;
  right: 6px;

  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__icon {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form__field {
  position: relative;

  display: flex;
  flex-direction: column;
}

.modal-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__input,
.modal-form__comment {
  margin: 0;
  padding: 11px 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input {
  padding-left: 42px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:focus-within .modal-form__icon,
.modal-form__field:hover .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__field:focus-within .modal-form__input,
.modal-form__field:hover .modal-form__input {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__comment {
  padding: 12px 16px;
  resize: none;
}

.modal-form__field:focus-within .modal-form__comment,
.modal-form__field:hover .modal-form__comment {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__label {
  margin-bottom: 4px;

  color: var(--text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__check-option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-form__check-off {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__check-on {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.modal-form__check-off:checked + .modal-form__check-on {
  background-image: url(../images/check.svg);
  background-color: var(--accent-color);
  background-size: cover;
  border-color: transparent;
  background-origin: border-box;
}

.modal-form__policy {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.71;
}

.modal-form__link {
  color: var(--accent-color);
}

.modal-form__check-off[type="checkbox"] {
  width: 16px;
  height: 15px;

  color: var(--primary-text-color);
}

.modal-form__btn {
  display: flex;
  justify-content: center;
}

/* Portfolio Page */
.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-secondary {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-secondary-shadow);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin-set));
  margin-left: calc(-1 * var(--margin-set));
}

.card-set__item {
  flex-basis: calc(100% / 3 - var(--margin-set));
  margin-top: var(--margin-set);
  margin-left: var(--margin-set);
}

.card-set__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product {
  display: block;

  text-decoration: none;
}

.product:hover,
.card-set__item:focus {
  box-shadow: var(--portfolio-shadow);
}

.product__image {
  position: relative;

  overflow: hidden;
}

.product__image::before {
  content: "";

  position: absolute;
  top: 100%;
  left: 0;

  display: inline-block;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover .product__image::before,
.product:focus .product__image::before {
  transform: translateY(-100%);
}

.product__overlay {
  position: absolute;
  top: 100%;
  left: 0;

  padding: 63px 24px;

  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product:hover .product__overlay {
  transform: translateY(-100%);
}

.product__meta {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border: 1px solid #eeeeee;
}

.product__name {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product__type {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
